<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<body style="text-align: center; font-size: 150%">
 <link rel="stylesheet" href="static/index.css">
 <title>Birthday Month</title>
 <h2>
   <link rel="stylesheet" href="static/index.css">Pick Your Birthday Month and You'll Recieve a Specific Meme in Return!</h2>
 <div class="container border pink-background center">
   <form method="POST" action="">
     <p>
     <label>
       <input name="month" type="radio" value="January" />
       <span style="color: black;">January</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="February" />
       <span style= color:black; >February</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="March" />
       <span style= color:black;>March</span>
     </label>
   </p> <p>
     <label>
       <input name="month" type="radio" value="April" />
       <span style= color:black;>April</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="May" />
       <span style= color:black;>May</span>
     </label>
   </p>
   <p>
     <label>
       <input name="month" type="radio" value="June" />
       <span style= color:black;>June</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="July" />
       <span style= color:black;>July</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="August" />
       <span style= color:black;>August</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="September" />
       <span style= color:black;>September</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="October" />
       <span style= color:black;>October</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="November" />
       <span style= color:black;>November</span>
     </label>
   </p>
    <p>
     <label>
       <input name="month" type="radio" value="December" />
       <span style= color:black;>December</span>
     </label>
   </p>
     <input type="submit" value="Submit Month">
   </form>
 </div>
</body>
</html>