<!DOCTYPE html>
<html>
<body>
<title>Birthday Month</title>
<h2>Pick your birthday month and you'll recieve a specific meme in return!</h2>

<form method = "POST" action = "">
  <input type="radio" name="month" value="January" checked> January<br>
  <input type="radio" name="month" value="February">February<br>
  <input type="radio" name="month" value="March">March<br>
  <input type="radio" name="month" value="April">April<br>
  <input type="radio" name="month" value="May">May<br>
  <input type="radio" name="month" value="June">June<br>
  <input type="radio" name="month" value="July">July<br>
  <input type="radio" name="month" value="August">August<br>
  <input type="radio" name="month" value="September">September<br>
  <input type="radio" name="month" value="October">October<br>
  <input type="radio" name="month" value="November">November<br>
  <input type="radio" name="month" value="December">December<br><br>
  <input type="submit" value="Submit Month">
</form> 

</body>
</html>
