<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div class="container grey-text text-lighten-5 border center">
        <h2>Welcome to our Funny Page! </h2>
        <br>
        <title>Funny</title>
</head>

<body>

    <body class="black">
        <img src="/static/images/emoji.jpg" alt="emoji"></img><br>
        <img src="/static/images/rock.jpg" alt="rock" height="240" width="240"></img><br>
   </body>
</html>
