<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- import the webpage's stylesheet -->
    <!--<link rel="stylesheet" href="style.css"> -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <title>Meme Page</title>
    <h5>Welcome to our meme page!</h5>
    <!--Navigation Bar Starts Here-->

    <body>
        <div class="container">
            <div class="row">
                <div class="col l2 m2 s2 black">
                    <a href="funny">Funny</a>
                </div>
                <div class="col l2 m2 s2 black">
                    <a href="https://vfs.cloud9.us-east-2.amazonaws.com/vfs/5587dffd7f244c6197fe8f9be0d4253f/preview/meme_project/flaskproject/app/templates/gifs.html">GIFS</a>
                </div>
                <div class="col l2 m2 s2 black">
                    <a href="random">Random</a>
                </div>
                <div class="col l2 m2 s2 black">
                    <a href="https://makeameme.org/memegenerator">Meme Generator</a>
                </div>
                <div class="col l2 m2 s2 black">
                    <a href="birthday_month">Birthday Month</a>
                </div>
                <div class="col l2 m2 s2 black">
                    <a href="need_help">Need Help?</a>
                </div>
            </div>
            <!-- Begin Content here -->
            <main>
                
            </main>
            <!-- End Content here -->
            <!-- Add Footer -->
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <h5 class="white-text">Contact Us</h5>
                            <h6>Insert contact info here</h6>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Insert Github link here</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Insert other Github link here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        2019 Fintech Project
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
    </body>

</html>
