<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- import the webpage's stylesheet -->
    <!--<link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <title>Meme Page</title>
    <br>
    <div class="container grey-text text-lighten-5 border center">
        <h2>Welcome to Our Meme Page !</h2>
    </div>
    <!--Navigation Bar Starts Here-->
    <br>

    <body class="black">
        <div class="">
            <div class="row bigtext1">
                <div class="col l2 m2 s2 white">
                    <a href="funny">
                        <p>
                            <font color="black">Funny</font>
                        </p>
                    </a>
                </div>
                <div class="col l2 m2 s2 white">
                    <a href="gifs">
                        <p>
                            <font color="black">GIFS</font>
                        </p>
                    </a>
                </div>
                <div class="col l2 m2 s2 white">
                    <a href="random">
                        <p>
                            <font color="black">Random</font>
                        </p>
                    </a>
                </div>
                <div class="col l2 m2 s2 white">
                    <a href="https://makeameme.org/memegenerator">
                        <p>
                            <font color="black">Meme Generator</p>
                    </a>
                </div>
                <div class="col l2 m2 s2 white">
                    <a href="birthday_month">
                        <p>
                            <font color="black">Birthday Month</p>
                    </a>
                </div>
                <div class="col l2 m2 s2 white">
                    <a href="videos">
                        <p>
                            <font color="black">Videos</p>
                    </a>
                </div>
            </div>
            <!-- Begin Content here -->
            <main>
            </main>
            <!-- End Content here -->
            <!-- Add Footer -->
            <footer class="page-footer">
                <div class="container center">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <h5 class="white-text">Contact Us:</h5>
                            <h6>Tania and Carlos's Email:</h6>
                            <h6>~tania.carlosft@gmail.com</h6>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5 class="white-text">Links:</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Insert Github link here</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Insert other Github link here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grey lighten-5 ">
                    <div class="container">
                        <div class="black-text grey lighten-5 right-align bigtext">2019 Fintech Focus Project
                        </div>
                    </div>
            </footer>
            <!-- End Footer -->
    </body>

</html>
