<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div class="container grey-text text-lighten-5 border center">
        <script type="text/javascript" src="static/js/gifs.js"></script>
        <link rel="stylesheet" href="static/gifs.css">
        <h2>Welcome to our Random Page! </h2>
        <br>
        <title>Random</title>
</head>

<body>

    <body class="black">
        <br>
        <br>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 5</div>
                <img src="/static/images/grandma.jpg" style="width:45%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 5</div>
                <img src="/static/gifs/cat.gif" style="width:35%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 5</div>
                <img src="/static/images/clown_doge.jpg" style="width:45%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 5</div>
                <video width="450" height="350" controls>
        <source src="/static/videos/broken.mp4" type="video/mp4">
        </video> <br>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5 / 5</div>
                <video width="450" height="350" controls>
        <source src="/static/videos/edge.mp4" type="video/mp4">
        </video> <br>
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </body>

</html>
