<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div class="container grey-text text-lighten-5 border center">
        <script type="text/javascript" src="static/js/gifs.js"></script>
        <link rel="stylesheet" href="static/gifs.css">
        <h2>Welcome to our video page! </h2>
        <br>
        <title>Videos</title>
</head>

<body>

    <body class="black">
        <br>
        <br>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 5</div>
                <video width="300" height="250" controls>
        <source src="/static/videos/broken_phone.mp4" type="video/mp4">
        </video> <br>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 5</div>
                <video width="300" height="250" controls>
        <source src="/static/videos/ahhh.mp4" type="video/mp4">
        </video> <br>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 5</div>
                <video width="300" height="250" controls>
        <source src="/static/videos/doge.mp4" type="video/mp4">
        </video> <br>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 5</div>
                <video width="300" height="250" controls>
        <source src="/static/videos/african_movie.mp4" type="video/mp4">
        </video> <br>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5 / 5</div>
                <video width="300" height="250" controls>
        <source src="/static/videos/sound_effect.mp4" type="video/mp4">
        </video> <br>
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </body>

</html>
